body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
  url("./ui/assets/fonts/Fonts/sofiapro-light.otf") format("truetype");
  font-weight: bold;
  }
@font-face {
    font-family: "Sofia Pro Black";
    src: local("Sofia Pro Black"),
    url("./ui/assets/fonts/Fonts/SofiaProBlack.woff") format('woff');
    
}
@font-face {
  font-family: "Sofia Pro Bold";
  src: local("Sofia Pro Bold"),
  url("./ui/assets/fonts/Fonts/SofiaProBold.woff") format('woff');
  font-weight: bold;
}
